.mainScreen {
    min-height: 93vh;
    display: flex;
    padding: 10px 0;
  }
  
.page {
    width: 100%;
}

.heading{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    .heading{
        font-size: 30px;
        display: flex;
        justify-content: center;
    }
}